@inherits LayoutComponentBase

<FluentLayout>
    <FluentHeader>
        <FluentIcon Value="@(Icon.FromImageUrl("/images/roominate.png"))" />
        <FluentSpacer />
        Roominate
    </FluentHeader>
    <FluentStack Class="main" Orientation="Orientation.Horizontal" Width="100%">
        <NavMenu />
        <FluentMessageBarProvider Section="MESSAGES_TOP" />
        <FluentBodyContent>
            <div class="content">
                @Body
            </div>
        </FluentBodyContent>
        <FluentDialogProvider @rendermode="@InteractiveServer" />
        <FluentToastProvider />
    </FluentStack>
    <FluentFooter>
        <div class="link1">
            <b>Roominate</b> von <a href="https://www.linkedin.com/in/tjorben-nawroth-a6136418b/">Tjorben Nawroth</a>.
        </div>
        <div class="link2">
            <a href="https://github.com/Tjorbenn/roominate" target="_blank">Quellcode</a>
        </div>
    </FluentFooter>
</FluentLayout>

<div id="blazor-error-ui">
    Ein unerwarteter Fehler ist aufgetreten. Falls das Problem nach einem Reload weiterhin besteht, eröffne gerne ein Issue auf <a href="https://github.com/Tjorbenn/roominate">GitHub</a>.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>