@page "/"

<PageTitle>Home</PageTitle>

<h1>Willkommen bei <b>Roominate</b>!</h1>

<p>Du kennst es bestimmt: Du suchst einen ruhigen Ort zum Lernen oder Arbeiten, aber die Bibliothek ist immer noch wegen Renovierung geschlossen?
Ok, also erstmal bei UnivIS alle Räume einzeln durchschauen, ob sie frei sind... durch das uninutitive UI navigieren... und 10 Minuten später endlich einen passenden Raum gefunden. </p>

<p>
Hier kann <b>Roominate</b> dir helfen! Klicke einfach auf den Reiter "<a href="/rooms">Freie Räume</a>" und Roominate reist für dich zurück in die 90er Jahre und übernimmt die Kommunikation mit UnivIS.
Nach ein paar Sekunden erhältst du eine übersichtliche Auflistung der freien Räume, sowie eine Angabe über die verbleibende freie Zeit bis zur nächsten Veranstaltung in den jeweiligen Räumen.</p>

<p> Ich hoffe <b>Roominate</b> kann dir ein wenig den Uni-Alltag erleichtern!</p>